@model ExamManager.Domain.DomainModel.Predmet

@{
    ViewData["Title"] = "Детали";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #F0F8FF">
    <div class="container pt-5 pb-5">
        <h1>Детали</h1>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    <label>Предмет</label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ImeNaPredmet)
                </dd>
                <dt class="col-sm-2">
                    <label>Семестар</label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Semestar)
                </dd>
                <dt class="col-sm-2">
                    <label>Студиски циклус</label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StudiskiCiklus.CiklusNaStudii)
                </dd>
            </dl>
        </div>
        <div class="pt-3">
            <a asp-action="Edit" asp-route-id="@Model.KodNaPredmet"><i class="fa-solid fa-pen-to-square fa-xl pr-3 text-dark"> Измени</i></a>
            <br />
            <br />
            <a asp-action="Index"><i class="fa-solid fa-arrow-left fa-xl text-dark"> Назад кон листата на предмети</i></a>
        </div>
    </div>
</div>