@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1 class="pb-3">@ViewData["Title"]</h1>

    <p>Интегрирани системи 2021<br>Факултет за информатички науки и компјутерско инженерство</p>
</div>
